body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}


.game-container{
    background-color: aqua;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playersName-container{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 80%;
    font-size: 30px;
}

.score-container{
    background-color:chartreuse;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 80%;
    font-size: 60px;
}

.round-container{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 80%;
    font-size: 30px;
}

.choices-container{
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 80%;
}